/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここにカスタムCSSを追加 */
ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin-right: 10px;
}